* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(229,229,229);
  background: radial-gradient(circle, rgba(229,229,229,1) 18%, rgba(251,249,240,1) 43%, rgba(255,253,243,1) 57%, rgba(234,234,234,1) 84%);
}

.head {
  position: fixed;
  left: 30%;
  top: 37%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 600px;
  height: 250px;
}

.first_h {
  text-align: center;
  font-size: 4rem;
}

.description {
  text-align: center;
  font-size: 1.1rem;
}

.cookie_btn {
  padding: 12px 24px;
  background-color: hsl(0, 0%, 47%);
  color: hsl(0, 0%, 82%);
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  z-index: 1;
  scale: 1.2;
  border: 1px solid rgb(129, 129, 129);
  cursor: pointer;
  top: 50px;
  left: 250px;
}

.cookie_btn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  transform: translate3d(-50%,-50%,0) scale3d(0,0,0);
  transition: opacity .4s cubic-bezier(.19,1,.22,1),transform .75s cubic-bezier(.19,1,.22,1);
  background-color: rgba(255,253,243,1);
  opacity: 0;
}

.cookie_btn:hover::before {
  opacity: 1;
  transition-duration: .85s;
  transform: translate3d(-50%,-50%,0) scale3d(1.2,1.2,1.2);
}

 .cookie_btn span {
  z-index: 1;
  position: relative;
} 

.cookie_btn:hover span {
  color: hsl(0, 0%, 39%);
}


a {
  text-decoration: none;
  color: rgb(112, 112, 112);
}

a:hover {
  color: rgb(201, 201, 201);
}

a:active {
  color: rgb(112, 112, 112);
}

.icons {
  position: absolute;
  height: 50px;
  width: 100px;
  top: 20px;
  right: 50px;
}

.xt {
  position: absolute;
  right: 60px;
  color: black;
  opacity: .6;
  scale: 0.33;
}

.xt:hover {
  opacity: 1;
}

.github {
  position: absolute;
  right: 0;
  opacity: .6;
  scale: 0.33;
}

.github:hover {
  opacity: 1;
}

.overlay {
  display: flex;
  background-color: rgb(37, 37, 37);
  background: transparent;
  backdrop-filter: blur(10px);
  width: 1470px;
  height: 720px;
}

.modalContainer {
  position: fixed;
  left: 26%;
  top: 25%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  width: 710px;
  height: 360px;
  border-radius: 10px;
  padding: 20px 15px;
  z-index: 4;
  box-shadow: 0px 0px 7px 0px rgba(61, 61, 61, 0.75);
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.buttons button {
  cursor: pointer;
  background-color: hsl(0, 0%, 47%);
  letter-spacing: .6px;
  font-weight: bold;
  font-size: 1.2rem;
  border: 1px solid rgb(129, 129, 129);
  width: 120px;
  height: 40px;
}

.btnFirst {
  color: rgb(8, 107, 8);
}

.btnSecond {
  color: rgb(168, 0, 0);
}

.txt-1 {
  font-size: 1.3rem;
  padding: 10px;
  
}

.txt-2 {
  color: rgb(112, 112, 112);
  padding: 6px 10px;
}

.txt-2 a {
  text-decoration: underline;
}

.buttons button {
  padding: 5px 24px;
  background-color: white;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}

.buttons button span {
  color: rgb(100, 100, 100);
  position: relative;
  z-index: 1;
  transition: color 0.6s cubic-bezier(0.53, 0.21, 0, 1);
}

.buttons button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 6px;
  transform: translate(-100%, -50%);
  width: 100%;
  height: 100%;
  background-color: hsl(0, 3%, 86%);
  transition: transform 0.5s cubic-bezier(0.53, 0.21, 0, 1);
}

.buttons .btnFirst:hover span {
  color: rgb(56, 165, 29);
}

.buttons .btnSecond:hover span {
  color: rgb(161, 39, 39);
}

.buttons button:hover::before {
  transform: translate(0, -50%);
}

.footer {
  display: flex;
  width: 100px;
  height: 30px;
}

.built {
  position: fixed;
  bottom: 5px;
  left: 47%;
  color: rgb(112, 112, 112);
}

@media screen and (max-width: 360px) {
  .icons {
    scale: 1.5;
  }
}

@media screen and (min-width: 360px) and (max-width: 470px){
  body {
    width: 470px;
  }

  .icons {
    scale: 1.3;
    left: 48%;
  }

  .head {
    scale: 1.05;
    left: -15%;
  }

  .cookie_btn,
  .cookie_btn::before {
    scale: 1.5;
  }

  .modalContainer {
    width: 360px;
    height: 520px;
    left: 50px;
    top: 120px;
  }

  .overlay {
    width: 470px;
    height: 800px;
  }

  .built {
    left: 40%;
    scale: 1.3;
    bottom: 15px;
  }
}

@media screen and (min-width: 470px) and (max-width: 600px) {
    .head {
      scale: 1.1;
      left: 0%;
    }
    
    .icons {
      scale: 1.6;
      left: 50%;
    }

    .modalContainer {
      width: 420px;
      height: 470px;
      left: 13%;
      top: 20%;
    }
 
  .overlay {
    width: 600px;
    height: 900px;
  }

  .built {
    scale: 1.4;
    bottom: 15px;
    left: 42%;
  }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .head {
    scale: 1.3;
    left: 10%;
  }
  
  .icons {
    scale: 1.6;
    left: 50%;
  }

  .modalContainer {
    width: 420px;
    height: 470px;
    scale: 1.25;
    left: 22%;
    top: 22%;
  }

  .overlay {
    width: 768px;
    height: 900px;
  }

  .built {
    scale: 1.4;
    bottom: 15px;
    left: 42%;
  }
}


@media screen and (min-width: 768px) and (max-width: 992px) {
  .head {
    scale: 1.3;
    left: 20%;
  }
  
  .icons {
    scale: 1.6;
    left: 50%;
  }

  .modalContainer {
    width: 570px;
    height: 420px;
    scale: 1.25;
    left: 21%;
    top: 20%;
  }

  .overlay {
    width: 990px;
    height: 870px;
  }

  .built {
    scale: 1.4;
    bottom: 15px;
    left: 45%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .head {
    scale: 1;
    justify-content: center;
    align-items: center;
  }
  
  .icons {
    scale: 1;
  }

  .modalContainer {
    width: 570px;
    height: 420px;
    scale: 1;
    justify-content: center;
    align-items: center;
  }

  .overlay {
    width: 100%;
  }

  .built {
    scale: 1;
    justify-content: center;
  }
}